  <label class="grid_1 alpha" for="url-input">URL:</label>
  <input class="grid_3" type="text" name="url[long]" placeholder="Give me an ugly url..." id="url-input" />
  <label class="grid_1" for="url-output">Pretty:</label>
  <input class="grid_3" type="text" name="url[short]" placeholder="Short URL Value" id="url-output" />
  <input class="grid_3 omega submit" type="submit" value="Make that shorty a ten!">