  <label for="url-input">URL:</label>
  <input type="text" name="url[long]" placeholder="Give me an ugly url..." id="url-input" />
  <label for="url-output">Shorty Is A Ten Value:</label>
  <input type="text" name="url[short]" placeholder="Short URL Value" id="url-output" />
  <input type="submit" value="Make that shorty a ten!">