  <label for="url-input">URL:</label>
  <br/>
  <input type="text" name="url[long]" placeholder="Give me an ugly url..." id="url-input" />
  <br/><br/>
  <label for="url-output">Shorty Is A Ten Value:</label>
  <input type="text" name="url[short]" placeholder="Tell me about your dream URL. What should it read?" id="url-output" />
  <br/><br/>
  <input type="submit" value="Make that shorty a ten!">