    <% if @fail %>
        <h3><%= @fail %></h3>
    <% end %>
    <label for="username">Username:</label>
    <input type="text" name="user[username]" id="username" placeholder="Your Username">
    <label>Email Address:</label>
    <input type="text" name="user[email]" id="email" placeholder="Email Address">
    <label for="password">Password:</label>
    <input type="password" name="user[password]" id="password" placeholder="Password">
    <input type="submit" value="Submit">