<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
 
  <!--
    Fonts
  -->
  <link rel="stylesheet" href="/css/webfonts.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,600,800' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>SHORTY IS THE SHIT</title>
</head>
<body>
 <div class="container_12"> 
    <div id="header" class="center">
      <a href="/" alt="Shorty Is A Ten"><h1>Shorty Is A Ten!</h1></a>
      <span>Make your links perfect tens. Short, readable URLs every time.</span>
    </div> <!-- Closes header DIV -->
    <div id="content">
      <%= yield %>
    </div> <!-- Closes content DIV -->
    <div id="footer">
            <% if current_user %>
        <a href="/logout" class="user-link">Logout</a>
      <% end %>
      <span>| A Karst & KCHAMP Production. Made possible by <a href="http://devbootcamp.com" alt="Dev Bootcamp">DevBootcamp.</a> Name inspired by <a href="http://www.youtube.com/watch?v=v5p46Ox4wBc" alt="SHORTY IS THE SHIT!!!!">this.</a>
    </div> <!-- Closes footer DIV -->
</div><!-- Closes container DIV -->
</body>
</html>
