<h2>Login to your account.</h2>
<form action="/login" method='post'>
  <%= erb :_login_form, layout: false %>
</form>
<br/>
<a href="/create_user" alt="Join the revolution!">Not a member? Join us.</a>